.parkResults {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2%;
    /* justify-content: space-between; */
    border: 1px solid black;
}

.buttonSize {
    width: 20%;
}

.restaurant-search-result {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 50%;
    font-size: 15px;
    padding: 2%;
}

.button-rounded {
    border-radius: 5px;
}

.restaurant-save-button {
    justify-content: center;
    width: 20%;
    border: 1px solid black;
}

#results-box {
    display: flex;
    flex-direction: column;
}